
nav > a{
   line-height: 50px;
   padding-left: 15px;
   padding-right: 15px;
   text-align: center;
   font-weight: bold;
   text-decoration: none;
   color: #000;
}
a > img {
  
    height: 18px;
    width: 18px;
    overflow: hidden;
    }

     a:hover{
        color: aliceblue;
        transition-duration: .5s;
    }
    a:active{
        color:aliceblue;
    }
    .content-1{
        min-height: 100vh;
        /* background: rgb(212, 173, 173); */
        
    }
    .c1{
        height: 50px; 
        background: #000;       
    }
    .c2{
        /* height: 100px; */
        background-color: rgb(171, 171, 187);
    }
    .info{
        width: 80%;
        padding: 20px;
        margin-left: 10%;
        
    }
    .c3
    {
        /* background: red; */ 
        height:100vh;
        background-image: url("mobile4.jpg"); 
        background-size:cover;
        background-repeat: no-repeat;
        /* margin-left: 20%; */
        backdrop-filter: 20px;
    }
    .specs{
        /* background-color: #000; */
        padding: 20px;
        height: 300px;
        width: 100%;
        margin-left: 25px;
        display: inline;
        
    }
    .chip{
        float: right;
        background-color: rgb(172, 188, 202,0.5);
        width: 40%;
        padding:  10px;
        margin-top: 70px;
        
        
    }
    .c4
    {
        clear: both; text-align: center;min-height: 1000px; color:aliceblue;
        background-color: #000;
    }
    .con{
        float: left;
        width: 40%;
        margin: 20px;
        padding: 25px;
        background-color: rgb(47, 48, 49,.4);
    }
    .custom{
        padding:  50px;
        

    }
    .options
    {
        float: left;
        padding: 25px;
        padding-left: 10%;
    }
    .options > h2{
        padding-bottom: 25px;
    }
    .lists{
        clear: both;
        text-align: left;
        padding: 25px; background-color: rgb(47, 48, 49,.4);
    }
    .lists >ol>li{
        padding: 10px;
    }
    .Buynow >a>button{
        border: 1px solid;
        width: 12%;
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(116, 157, 233);
        padding: 15px;
        font-size: large;

    }
    .Buynow >a>button:hover{
        background-color: aliceblue;
        cursor: pointer;
       
    }


    /* Form */
  .bg{
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFjJuKgTdBZp1feq0wyp4k5kNxdqokrWy3eg&usqp=CAU"); */
    background-image: url("img123.jpg");
    background-repeat: no-repeat;
    height:1000px;
    background-size:cover;
    background-repeat: no-repeat;
    /* margin-left: 20%; */
    backdrop-filter: 50;
  }
    .form-group{
        /* background-color: yellow; */
        
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    } 
    .form-group >form{
        padding: 20px;
    }
    td,legend,label{
        color: aliceblue;
    }
    
    tr,td{
        padding: 8px;
        margin-bottom: 8px;
    }
    span{
        color: red;
    }
    
    #address_table > tr{
        margin-bottom: 50px;
    }
    
    #submit{
        margin-left: 50px;
        margin-top: 15px;
        padding: 5px;
        width: 80px;
    }
    /* form group */
    
    .submit_form{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .submit_form >input{
        width: 100px;
        font-size: large;
    }
    
    
    /* Payment Option */
    /* .purchase{
    
    } */
    
    #place_order{
        background: rgb(255, 123, 0);
        font-size: large;
        color: white;
        font-weight: 500;
        width: 200px;
    }